.data-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.entry{
    max-width: 720px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry button, .data button{
    width: 58px;
    height: 58px;
}

.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.data input{
    height: 58px;
    width: 60vw;
}
.data-item{
    display: flex;
    width: 100%;

}