#file{
    display: none;
}
#mapFile{
    width: 100%;
}
#fake-file{
    cursor: pointer;
}
#mapFile input:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
#mapFile button{
    width: 116px;
}